name: PS Count

on:
  #schedule:
  #  - cron: '* * * * *'

  # pull_request_target:
  #   types: ['opened']
  #   branches: ['main']

  push:
    branches: ['main']

jobs:
  alert:
    runs-on: ubuntu-latest
    steps:
      - name: prepare to get github repo url
        run: |
          sudo apt install jq
      - uses: actions/checkout@v3

      - name: get pull request information
        id: pr_info
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "{pr_number}={ ${{ github.event.number }} }" >> $GITHUB_OUTPUT
          echo this is number $GITHUB_OUTPUT
          echo "${{ github.event.pull_request.body }}"

      - name: prepare for a slack-send environment
        id: slack
        uses: slackapi/slack-github-action@v1.23.0
        with:
          payload: |
            {
              "channel": "#test-for-github-action", "username": "Alert Manager", "text": "There is an update!", "icon_emoji": ":seal:"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

      - name: SUCCESS _ send a slack alarm
        shell: bash
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          GITHUB_REPO: ${{ toJson(github) }}
        run: |  
          GITHUB_REPO_URL_w=$(echo $GITHUB_REPO | jq '.repositoryUrl')
          # "와 git:// 삭제
          GITHUB_REPO_URL=$(echo "${GITHUB_REPO_URL_w:7:-1}") 
          echo $GITHUB_REPO_URL
          chmod +x alert.sh
          ./alert.sh "$SLACK_WEBHOOK_URL" $GITHUB_REPO_URL

      - name: Update README.md
        shell: bash
        run: |
          chmod +x updateReadme.sh
          ./updateReadme.sh