name: PS Count

on:
  #schedule:
    # 한국시간으로 0시 0분에 작업 발생
  #  - cron: '* * * * *'
  push:
    branches: ['main']

jobs:
  alert:
    runs-on: ubuntu-latest
    steps:
      - name: get github repo url
        env:
          GITHUB_REPO_URL: ${{ toJson(github) }}
        run: |
          sudo apt install jq
          echo $GITHUB_REPO_URL | jq '.repositoryUrl'
      - uses: actions/checkout@v3
      - name: prepare slack-send environment
        id: slack
        uses: slackapi/slack-github-action@v1.23.0
        with:
          payload: |
            {
              "channel": "#test-for-github-action", "username": "Alert Manager", "text": "hello!", "icon_emoji": ":seal:"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      - name: send an alarm
        shell: bash
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          GITHUB_REPO: ${{ toJson(github) }}
        run: |
          GITHUB_REPO_URL=$(echo $GITHUB_REPO | jq '.repositoryUrl')
          echo GITHUB_REPO_URL
          chmod +x count.sh
          ./count.sh "$SLACK_WEBHOOK_URL" "$GITHUB_REPO_URL"
      - name: get current path info
        shell: bash
        run: |
          pwd
      - name: Update README.md
        shell: bash
        run: |
          chmod +x updateReadme.sh
          ./updateReadme.sh