name: PS Count

on:
  #schedule:
    # 한국시간으로 0시 0분에 작업 발생
  #  - cron: '* * * * *'
  push:
    branches: ['main']

jobs:
  alert:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: get current path info
        shell: bash
        run: |
          pwd >> new.txt
      - name: Push alarm to Slack
        shell: bash
        env:
          URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        run: |
          chmod +x count.sh
          ./count.sh "$URL"
      - name: Update README.md
        shell: bash
        run: |
          chmod +x updateReadme.sh
          ./updateReadme.sh
