name: PS Count

on:
  #schedule:
  #  - cron: '* * * * *'

  # pull_request_target:
  #   types: ['opened']
  #   branches: ['main']

  push:
    branches: ['main']

jobs:
  alert:
    runs-on: ubuntu-latest
    steps:
      - name: prepare to get github repo url
        run: |
          sudo apt install jq
      - uses: actions/checkout@v3

      - name: get commit information
        id: commit_info
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # echo "::set-output name=commit_sha::${{ github.sha }}"
          # echo "::set-output name=commit_message::${{ github.event.head_commit.message }}"
          echo "commit_sha=${{ github.sha }}" >> $GITHUB_OUTPUT
          echo "commit_message=${{ github.event.head_commit.message }}"  >> $GITHUB_OUTPUT
      
      - name: Output Commit Message
        run: |
          # echo "Message is: ${{ steps.commit_info.outputs.commit_message }}"
          echo " Hola! Message is: ${{ steps.commit_info.outputs.commit_message }}"

      - name: prepare for a slack-send environment
        id: slack
        uses: slackapi/slack-github-action@v1.23.0
        with:
          payload: |
            {
              "channel": "#test-for-github-action", "username": "Alert Manager", "text": "There is an update!", "icon_emoji": ":seal:"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      
      # - name: fail component
      #   id: 
      #   uses: muinmomin/webhook-action@v1.0.0
      #   run: |
      #     echo this is a fail component

      - name: SUCCESS _ send a slack alarm
        shell: bash
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          GITHUB_REPO: ${{ toJson(github) }}
        run: |  
          GITHUB_REPO_URL_w=$(echo $GITHUB_REPO | jq '.repositoryUrl')
          # "와 git:// 삭제
          GITHUB_REPO_URL=$(echo "${GITHUB_REPO_URL_w:7:-1}") 
          
          # # git://이 붙어있는 경우.
          # GITHUB_REPO_URL_pre=${{ github.repositoryUrl }}
          # GITHUB_REPO_URL_=$(echo "${GITHUB_REPO_URL_pre:6}") 
          
          chmod +x alert.sh
          ./alert.sh "$SLACK_WEBHOOK_URL" $GITHUB_REPO_URL

      - name: Update README.md
        shell: bash
        run: |
          chmod +x updateReadme.sh
          ./updateReadme.sh