name: Alert Deploy Status

on:
  #schedule:
  #  - cron: '* * * * *'
  # hoho

  pull_request:
    types: ['opened','closed'] ## 풀자 opend 지우기
  push:
    branches: ['main']

jobs:
  alert_when_merged:
    # if: github.event.pull_request.merged == true ## 풀자
    runs-on: ubuntu-latest
    steps:
      - name: prepare to get github repo url
        run: |
          sudo apt install jq
      - uses: actions/checkout@v3

      # # Parse Commit 
      # - name: get commit information
      #   id: commit_info
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   run: |
      #     echo "commit_sha=${{ github.sha }}" >> $GITHUB_OUTPUT
      #     echo "commit_message=${{ github.event.head_commit.message }}"  >> $GITHUB_OUTPUT
      
      # - name: output Commit Message
      #   run: |
      #     echo "Commit message is: ${{ steps.commit_info.outputs.commit_message }}"

      # Parse PR
      - name: get Pull Request Title
        id: pr_info
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "pull_request_number=${{ github.event.number }}" >> $GITHUB_OUTPUT
          echo "pull_request_title=${{ github.event.pull_request.title }}" >> $GITHUB_OUTPUT

      - name: print Pull Request Title on cli
        run: |
          echo "Pull Request title is: ${{ steps.pr_info.outputs.pull_request_title }}"

      # Send slack alarm
      - name: prepare for a slack-send environment
        id: slack
        uses: slackapi/slack-github-action@v1.23.0
        with:
          payload: |
            {
              "channel": "#test-for-github-action", "username": "Alert Manager", "text": "*===UPDATE ALARM===*", "icon_emoji": ":seal:"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      
      - name: fail component_get pr body
        id: failed
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          exit 1
          echo "pull_request_body=${{ github.event.pull_request.body }}" >> $GITHUB_OUTPUT
          echo "PR BODY: ${{ steps.failed.outputs.pull_request_body }}"

      - name: Failed _ send a slack alarm
        if: ${{ failure() }}
        shell: bash
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          GITHUB_REPO: ${{ toJson(github) }}
        run: |  
          GITHUB_REPO_URL_w=$(echo $GITHUB_REPO | jq '.repositoryUrl')
          # "와 git:// 삭제
          GITHUB_REPO_URL=$(echo "${GITHUB_REPO_URL_w:7:-1}") 
          
          chmod +x alertFailure.sh
          ./alertFailure.sh "$SLACK_WEBHOOK_URL" $GITHUB_REPO_URL "${{ steps.pr_info.outputs.pull_request_title }}"
          exit 1

      - name: SUCCESS _ send a slack alarm
        shell: bash
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          GITHUB_REPO: ${{ toJson(github) }}
        run: |  
          GITHUB_REPO_URL_w=$(echo $GITHUB_REPO | jq '.repositoryUrl')
          # "와 git:// 삭제
          GITHUB_REPO_URL=$(echo "${GITHUB_REPO_URL_w:7:-1}") 
          
          # # git://이 붙어있는 경우.
          # GITHUB_REPO_URL_pre=${{ github.repositoryUrl }}
          # GITHUB_REPO_URL_=$(echo "${GITHUB_REPO_URL_pre:6}") 
          
          chmod +x alertSuccess.sh
          ./alertSuccess.sh "$SLACK_WEBHOOK_URL" $GITHUB_REPO_URL "${{ steps.pr_info.outputs.pull_request_title }}"

      # Update README file
      - name: Update README.md
        shell: bash
        run: |
          chmod +x updateReadme.sh
          ./updateReadme.sh