name: PS Count

on:
  schedule:
    # 한국시간으로 0시 0분에 작업 발생
    - cron: '* * * * *'

jobs:
  alert:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3
      - name: Push alarm to Slack
        shell: bash
        run: |
          chmod count.sh +x
          ./count      
      - name: Update README.md
        shell: bash
        run: |
          chmod updateReadme.sh +x
          ./updateReadme
